
<tr>
  <td><%= question.title %></td>
  <% question.answers.each do |answer| %>
    <td><img height="100" width="120" class="thumbnail inline no-margin-bottom" alt="lỗi" src="<%= answer.picture %>"></td>
  <% end %>
  <td>
    <%= t ".answer"%> <br/><img height="100" width="120" class="thumbnail inline no-margin-bottom" alt="lỗi" src="<%= Answer.true_answer(question.id).first&.picture %>">
  </td>
</tr>
